* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*

 Es recomentable trabajar los margin a los divs y el relleno aplicarlo a los padding
 Margenes = Externos
 Rellenos = Internos

 */

@font-face {
  font-family: "CNN Sans Condensed";
  src: url(/assets/fonts/CNNSansW04-Condensed.woff);
}

@font-face {
  font-family: "CNN Sans Condensed-bold";
  src: url(assets/fonts/CNNSansW04-CondensedBold);
}

/* Variables */
:root {
  --rojo: #CC0000;
  --negro: #000000;
  --gris: #595959;
  --blanco: #e8e8e4;
}

.page {
  width: 100%;
  margin: 0 auto;
}

.header {
  width: inherit;
  height: 50px;
  display: flex;
  margin: 0 auto;
  background-color: var(--negro);
}

.logo {
  width: 50px;
  height: 50px;
}

nav {
  width: 58%;
  margin: 0 auto;
  /* align-items: center; */
  color: var(--blanco);
  display: flex;
  text-transform: capitalize;
}

.itemsHeader {
  font-family: "CNN Sans Light";
  display: flex;
  align-items: center;
  margin-right: .3em;
  padding-right: .3em;
}


a {
  text-decoration: none;
  color: var(--blanco);
  display: flex;
}

a::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  top: 0;
  padding-left: 3px;
  height: 15%;
  border-right: 10px solid var(--blanco);
}


.temasDia {
  display: flex;
  width: 58%;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  font-family: "CNN Sans Condensed";
  margin-bottom: 20px;
}

.temasDiaItems {
  font-size: 15px;
  margin-left: 3px;
  padding-top: 3px;
}

.main {
  margin: 0 auto;
  width: 58%;
  display: flex;
  border: 1px solid black;
}

#item1 {
  width: 100%;
  background-color: yellow;
}

.img {
  object-fit: fill;
  margin-bottom: 10px;
}

.noticia {
  width: 100%;
}

#noticia1 {
  width: inherit;
  height: inherit;
  object-fit: cover;

}

#tituloNoticia1 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 9px;
}

#arNoticia1 {
  font-family: "CNN Sans Condensed";

}

#item2 {
  width: 70%;
  padding-left: 20px;
}

#noticia2 {
  width: inherit;
  height: 170px;

}

#tituloNoticia2 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 7px;
  font-size: 16px;
}

#arNoticia2 {
  margin-top: 10px;
  font-family: "CNN Sans Condensed";
  padding-bottom: 13px;
  font-size: 22px;
  line-height: 28px;

}

#item3 {
  padding-left: 20px;
}

#noticia3 {
  margin-top: 25px;
  width: inherit;
  height: 170px;
}

#tituloNoticia3 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 7px;
}

#arNoticia3 {
  font-family: "CNN Sans Condensed";
  font-size: 22px;
  line-height: 28px;
}

/* VIDEO */
#noticia4 {
  width: inherit;
  height: 170px;
}

#tituloNoticia4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "CNN Sans Condensed";
  text-transform: uppercase;
}


.asides {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.asideItems {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "CNN Sans Condensed";
}

/* Categoria de video */

.video {
  margin: 0 auto;
  width: 58%;
  border: 1px solid black;
  text-align: center;
  margin-top: 10px;
}

#videoTitle {
  padding-bottom: 10px;
}

#videoRec {
  height: 300px;
  background-color: aqua;
}

#latinoOpi {
  text-align: center;
}

.latinoamerica {
  border: 1px solid rgb(23, 111, 114);
  width: 58%;
  margin: 0 auto;
  display: flex;
}

.latinItem {
  display: flex;
  height: 30%;
  flex-direction: column;
}

#latinItem1 {
  width: 30%;
  border: 1px solid black;
}

.asidesLatin {
  width: 30px;
}

#latinItem2 {
  border: 1px solid black;
  width: 40%;
}

#latinItem3 {
  border: 1px solid black;
  width: 30%;
}

#opinionTitle {
  text-align: center;
}

.opinion {
  border: 1px solid black;
  height: 120px;
  margin: 0 auto;
  width: 58%;
  display: flex;
  margin-top: 10px;
}

.itemOpinion {
  width: 100%;
  display: flex;

}

.opinion1 {
  border: 1px solid black;
  display: flex;
  width: inherit;
}

footer {
  width: 100%;
  background-color: aqua;
  margin-top: 10px;
}

.footer {
  background-color: var(--negro);
  height: 407px;
}