* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
 Es recomentable trabajar los margin a los divs y el relleno aplicarlo a los padding
 Margenes = Externos
 Rellenos = Internos
 */

@font-face {
  font-family: "CNN Sans Condensed";
  src: url(/assets/fonts/CNNSansW04-Condensed.woff);
}

/* Variables */
:root {
  --rojo: #CC0000;
  --negro: #000000;
  --gris: #d6cfcf;
  --blanco: #e8e8e4;
}


/* Línea color rojo del título */
.line {
  margin: 0 auto;
  width: 3%;
  height: 3px;
  color: var(--rojo);
  background-color: var(--rojo);
}

/* Propiedades generales del título */
.title {
  text-align: center;
  padding-bottom: 12px;
  font-family: "CNN Sans Condensed";
  text-transform: uppercase;
  font-size: 2.5vh;
}


.page {
  width: 100%;
  margin: 0 auto;
}

/* Header  */

.header {
  height: 50px;
  width: 100%;
  background-color: var(--negro);
  /* Establecer el menú de manera fija usando position sticky y el top de 5 para que sea visible para el usuario */
  position: sticky;
  top: 0;
}

/* Menu hamburger icon */
#burgerMenu {
  width: 30px;
  height: 50px;
}

#searchIcon {
  width: 30px;
  height: 30px;
}

.navHeader {
  height: 50px;
  margin: 0 auto;
  width: 58%;
  display: flex;
  background-color: var(--negro);
  color: var(--blanco);
  font-family: "CNN Sans Condensed";
}

.itemsFlex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.flex {
  align-items: center;
  font-size: 1.9vh;
  margin-left: 3px;
}

/* Zona temas del día */
.navTemasDia {
  margin: 0 auto;
  width: 58%;
}

.temasDia {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  font-family: "CNN Sans Condensed";
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}

/*
.temasDia li {
  border: 1px solid red;
} */

#tituloRojo {
  color: var(--rojo);
  font-weight: bold;
}

.temasDiaItems {
  max-width: 100%;
  font-size: 2vh;
  margin-left: 3px;
  padding-top: 3px;
  height: auto;
}

.temasDiaItems::after {
  content: " |";
  padding-right: 3px;
}

.main {
  margin: 0 auto;
  width: 58%;
  display: flex;
  max-width: 1200px;
  margin-bottom: 20px;
}

#item1 {
  width: 40%;
}

.img {
  /* object-fit: fill; */
  margin-bottom: 10px;
}

.item {
  width: 100%;
}

/* id que representa la imagen */
#noticia1 {

  object-fit: cover;
}

.responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#tituloNoticia1 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 9px;
}

#arNoticia1 {
  font-family: "CNN Sans Condensed";

}

#item2 {
  width: 30%;
  padding-left: 20px;
}

#noticia2 {
  /* No se asigna tamaño por que ya está establecido como imagen en el img del html */
  width: inherit;
}

#tituloNoticia2 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  color: var(--rojo);
}

#arNoticia2 {
  margin-top: 10px;
  font-family: "CNN Sans Condensed";
  padding-bottom: 13px;
  font-size: 22px;
  line-height: 28px;

}

#item3 {
  width: 30%;
  padding-left: 20px;
}

#noticia3 {
  /* No se asigna tamaño por que ya está establecido como imagen en el img del html */
  margin-top: 25px;
  height: 170px;
}

#tituloNoticia3 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 7px;
  font-weight: bold;
  color: var(--rojo);
}

#arNoticia3 {
  font-family: "CNN Sans Condensed";
  font-size: 22px;
  line-height: 28px;
}

/* VIDEO */
#noticia4 {
  width: 100%;
  height: 170px;
}

#tituloNoticia4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "CNN Sans Condensed";
  text-transform: uppercase;
}


.asides {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.asideItems {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "CNN Sans Condensed";
}

.asideTitulo {
  font-weight: bold;
  color: var(--rojo);
}

#latinoOpi {
  margin-top: 10px;
  text-align: center;
  font-family: "CNN Sans Condensed";
  margin-bottom: 10px;
}

.latinoamerica {
  width: 58%;
  margin: 0 auto;
  display: flex;
  height: auto;

}

.latinItem {
  display: flex;
  flex-direction: column;
}

#latinItem1 {
  width: 30%;
}

#latinoNoticia1 {
  object-fit: cover;
}

.noticiaLatinoamerica {
  /* margin-top: 25px; */
  /* height: 170px; */
  padding-bottom: 12px;
}

#latinItem2 {
  padding-left: 12px;
  width: 60%;
  border: 1px solid var(--negro);
  height: 30%;

}

#latinItem3 {
  padding-left: 12px;
  width: 30%;

}

.tituloLatinoamerica {
  font-family: "CNN Sans Condensed";
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 12px;
  color: var(--negro);
}


/* asides categoría Latinoamérica */

.asidesLatin {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.asidesItemsLatino {
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 9px;
}


/* TODO: CAMBIAR A  CLASS */

.itemAside {
  display: flex;
  flex-direction: row;
}


#venezuelaAside4 {
  display: flex;
  width: 100%;
}

.contenidoAside {
  height: auto;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Imagen del aside */

.asideNoticia {
  width: 80px;
  height: auto;
}

/* Títulos aside */
.titleAside {
  font-family: "CNN Sans Condensed";
  color: var(--rojo);
  width: 100%;
}

#titlteAsideVenezuela {
  width: 100%;
  height: 59%;
}

.contentAside {
  font-family: "CNN Sans Condensed";
}

/* Categoría de video */
#videoTitle {
  padding-bottom: 12px;
  /* border: 1px solid black; */
  font-family: "CNN Sans condensed";
  font-size: 18px;
  font-weight: 700px;
}

.video {
  margin: 0 auto;
  width: 58%;
  text-align: center;
  margin-top: 10px;
}

#videoRec {
  height: inherit;
  padding-bottom: 25px;
}

/* Categoría opinión */

.opinion {
  margin: 0 auto;
  width: 58%;
  display: flex;
  margin-top: 10px;
  gap: 12px;
}

.itemOpinion {
  width: 20%;
  display: flex;
  height: 200px;
  flex-direction: column;
  border-radius: 12px;
  justify-content: space-between;
}

.tituloOpinion {
  font-family: "CNN Sans Condensed";
  color: var(--negro);
  width: 100%;
  font-size: 1.1rem;
  text-overflow: clip;
  padding: 3px;
}

.profile {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

#profile1 {
  width: inherit;
  height: auto;
}

#asideOpinion1,
#asideOpinion2,
#asideOpinion3,
#asideOpinion4,
#asideOpinion5 {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

/* Contenedor donde está la imagen */
.imgProfile {
  display: flex;
  width: 50%;
  justify-content: center;
}

/* Esto hace que la imagen y el texto quede en forma de fila */
.contentOpinion {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

/* Centramos el texto */
.contentText1 {
  display: flex;
  align-items: center;
  font-family: "CNN Sans Condensed";
  width: 50%;
  max-width: 50%;
  padding-left: 3px;
}

/* Footer */
footer {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.logoFooter {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#logoFooter {
  width: 50px;
  height: 50px;
}

.navFooter {
  display: flex;
  margin: 0 auto;
  width: 58%;
  list-style: none;
  text-decoration: none;
  padding: .5em 1em;
}

.itemsFooter {
  display: flex;
  justify-content: center;
  font-family: "CNN Sans Condensed";
}

/* Media screen */
/* @media screen and (max-width:995px), */
@media screen and (max-width:1360px),
screen and (max-height:700px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .page {
    background-color: yellow;
  }


}