* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "CNN Sans Condensed";
  src: url(/assets/fonts/CNNSansW04-Condensed.woff);
}

/* Variables */
:root {
  --rojo: #CC0000;
  --negro: #000000;
  --gris: #d6cfcf;
  --blanco: #e8e8e4;
}


/* Línea color rojo del título */
.line {
  margin: 0 auto;
  width: 3%;
  height: 3px;
  color: var(--rojo);
  background-color: var(--rojo);
}

/* Propiedades generales del título */
.title {
  text-align: center;
  padding-bottom: 12px;
  font-family: "CNN Sans Condensed";
  text-transform: uppercase;
  font-size: 2.5vh;
}


.page {
  width: 100%;
  margin: 0 auto;
}

/* Header  */
.header {
  height: 50px;
  width: 100%;
  background-color: var(--negro);
  /* Establecer el menú de manera fija usando position sticky y el top de 0 para que sea visible para el usuario */
  position: sticky;
  top: 0;
}

/* Logo CNN de header */
#cnnImg {
  background-image: url("assets/img/cnnLogo.png");
  width: 50%;
  max-width: 100%;
  height: 50px;
}

/* Menu hamburger icon */
#burgerMenu {
  width: 30px;
  height: 50px;
}

#searchIcon {
  width: 30px;
  height: 30px;
}

.navHeader {
  height: 50px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  background-color: var(--negro);
  color: var(--blanco);
  font-family: "CNN Sans Condensed";
}

.itemsFlex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.flex {
  align-items: center;
  font-size: 1.9vh;
  margin-left: 3px;
  height: auto;
}

/* Zona temas del día */
.navTemasDia {
  margin: 0 auto;
  width: 58%;
}

.temasDia {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  font-family: "CNN Sans Condensed";
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.1px;
}

#tituloRojo {
  color: var(--rojo);
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.temasDiaItems {
  max-width: 100%;
  font-size: 2vh;
  margin-left: 3px;
  padding-top: 3px;
  height: auto;
}

.temasDiaItems a {
  text-decoration: none;
  list-style: none;
  color: var(--negro);
}

.temasDiaItems a:hover {
  /* background-color: black; */
  text-decoration: underline;
}

.temasDiaItems::after {
  content: " |";
  padding-right: 3px;
}

.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-bottom: 20px;
}

#item1 {
  width: 40%;
}

.img {
  /* object-fit: fill; */
  margin-bottom: 10px;
}

.item {
  width: 100%;
}

#imagenNoticia1 {
  background-image: url("assets/img/noticia1.webp");
  width: 100vw;
  max-width: 100%;
  height: 30vh;

}

#imagenNoticia2 {
  background-image: url("assets/img/noticia2.webp");
  width: 100%;
  max-width: 100%;
  height: 20vh;
}

#imagenNoticia3 {
  background-image: url("assets/img/noticia3.webp");
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 20vh;
}

.responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#tituloNoticia1 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 9px;
}

#arNoticia1 {
  font-family: "CNN Sans Condensed";
  line-height: 30px;
  text-align: justify;
}

#item2 {
  width: 30%;
  padding-left: 20px;
}

#noticia2 {
  /* No se asigna tamaño por que ya está establecido como imagen en el img del html */
  width: inherit;
}

#tituloNoticia2 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  color: var(--rojo);
}

#arNoticia2 {
  margin-top: 10px;
  font-family: "CNN Sans Condensed";
  padding-bottom: 13px;
  font-size: 22px;
  line-height: 28px;
  text-align: justify;

}

#item3 {
  width: 30%;
  padding-left: 20px;
}

#noticia3 {
  /* No se asigna tamaño por que ya está establecido como imagen en el img del html */
  margin-top: 25px;
  height: 170px;
}

#tituloNoticia3 {
  text-transform: uppercase;
  font-family: "CNN Sans Condensed";
  margin-bottom: 7px;
  font-weight: bold;
  color: var(--rojo);
}

#arNoticia3 {
  font-family: "CNN Sans Condensed";
  font-size: 22px;
  line-height: 28px;
}

/* VIDEO */
#noticia4 {
  width: 100%;
  height: 170px;
}

#tituloNoticia4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "CNN Sans Condensed";
  text-transform: uppercase;
}

.asides {
  display: flex;
  flex-direction: column;
}

.asideItems {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "CNN Sans Condensed";
}

.asideTitulo {
  font-weight: bold;
  color: var(--rojo);
}

#latinoOpi {
  margin-top: 10px;
  text-align: center;
  font-family: "CNN Sans Condensed";
  margin-bottom: 10px;
}

.latinoamerica {
  width: 58%;
  margin: 0 auto;
  display: flex;
  height: auto;

}

#imgLatinoamerica1 {
  background-image: url("assets/img/latinoNoticia1.webp");
  width: 100%;
  max-width: 100%;
  height: 225px;
}

#imgLatinoamerica2 {
  background-image: url("assets/img/asideNoticia1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 10vh;
}

#imgLatinoamerica3 {
  background-image: url("assets/img/latinoNoticia3.jpeg");
  max-width: 100%;
  width: 100%;
  height: 17vh;
}

#imgLatinoamerica4 {
  background-image: url("assets/img/latinoNoticia2.jpg");
  width: 100%;
  max-width: 100%;
  height: 35vh;
}

#imgAsideNoticia1 {
  background-image: url("assets/img/asideNoticia1.webp");
  width: 100%;
  max-width: 100%;
  height: 18vh;

}

/* Estas representan los asides derechos de la categoría Latinoamérica, se trabajo con clase para evitar redundancias */
.imgAsideNoticia {
  background-image: url("assets/img/asideNoticia1.jpg");
  width: 100%;
  max-width: 100%;
  height: 10vh;
}

#latinItem1 {
  width: 30%;
}

#latinoNoticia1 {
  object-fit: cover;
}

.noticiaLatinoamerica {
  padding-bottom: 12px;
}

#latinItem2 {
  padding-left: 12px;
  width: 60%;
  height: 30%;
}

#latinItem3 {
  padding-left: 12px;
  width: 30%;
}

.tituloLatinoamerica {
  font-family: "CNN Sans Condensed";
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 12px;
  color: var(--negro);
}


/* asides categoría Latinoamérica */
.asidesLatin {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.asidesItemsLatino {
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 9px;
}

.itemAside {
  display: flex;
  flex-direction: row;
}

#venezuelaAside4 {
  display: flex;
  width: 100%;
}

.contenidoAside {
  height: auto;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Imagen del aside */
.asideNoticia {
  width: 80px;
  height: auto;
}

/* Títulos aside */
.titleAside {
  font-family: "CNN Sans Condensed";
  color: var(--rojo);
  width: 100%;
}

#titlteAsideVenezuela {
  width: 100%;
  height: 59%;
}

.contentAside {
  font-family: "CNN Sans Condensed";
}

/* Categoría de video */
#videoTitle {
  padding-bottom: 12px;
  font-family: "CNN Sans condensed";
  font-size: 18px;
  font-weight: 700px;
}

.video {
  margin: 0 auto;
  width: 58%;
  text-align: center;
  margin-top: 10px;
}

#videoRec {
  height: inherit;
  padding-bottom: 25px;
}

/* Categoría opinión */
.opinion {
  margin: 0 auto;
  width: 58%;
  display: flex;
  margin-top: 10px;
  gap: 12px;
}

.itemOpinion {
  width: 20%;
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gris);
}

.tituloOpinion {
  font-family: "CNN Sans Condensed";
  color: var(--negro);
  width: 100%;
  font-size: 1.3vw;
  text-overflow: clip;
  padding: 3px;
}


/* Contenedor donde está la imagen */
.imgProfile {
  background-image: url("assets/profiles/5797.png");
  background-repeat: no-repeat;
  /* background size ajusta el tamaño de la imagen al contenedor en donde se va a colocar la imagen */
  background-size: contain;
  max-width: 100%;
  width: 50%;
  height: 12vh;
  border-radius: 50%;
}

/* Esto hace que la imagen y el texto quede en forma de fila */
.contentOpinion {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.contentText1 {
  display: flex;
  align-items: center;
  font-family: "CNN Sans Condensed";
  font-weight: bold;
  width: 100%;
  max-width: 50%;
  padding-left: 3px;
  height: auto;
  font-size: 0.9vw;
}

/* Footer */
footer {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--negro);
  flex-wrap: wrap;
}

.footerItem {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  margin: 0 auto;
  padding: 1rem 0.3rem 0px 1rem;
  width: 14%;
  gap: 8px;
  flex-direction: column;
}

.itemsFooter {
  width: 100%;
  color: var(--blanco);
  flex-grow: 1;
  row-gap: 3px;
  margin-bottom: 5px;
}

.textFooter {
  display: flex;
  justify-content: center;
  font-family: "CNN Sans Condensed";
  flex-direction: column;
}

#logoFooter {
  margin-left: 1rem;
  width: 50px;
  height: 50px;
}

.logoFooter {
  margin-top: 10px;
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

#lineaFooter {
  width: 100%;
  color: var(--gris);
}

.listF {
  margin-top: 10px;
  width: 50%;
  display: flex;
}

.listFooter {
  display: flex;
  width: 100%;
  color: var(--blanco);
  gap: 3px;
  justify-content: space-evenly;
}

.ulFooter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  list-style: none;
  text-decoration: none;
  font-family: "CNN Sans Condensed";

}

/* Pseudo clase */
/* del container textFooter cada primer hijo aplique los siguientes estilos */
.textFooter:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
}

/* Responsive tablets */
@media screen and (min-width: 769px) and (max-width:1024px) {

  * {
    margin: 0;
    padding: 0;
  }

  .page {
    width: 100%;
  }

  .header {
    flex-direction: column;
    display: flex;
    width: 100%;
    /* height: calc(805px - 100vh); */
    height: auto;
  }

  .navHeader {
    display: flex;
    flex-wrap: nowrap;
  }

  .navTemasDia {
    width: auto;
    padding: 3px;
  }

  /* El primer el elemento que es el iconHamburguer aplique los siguientes elementos. Usamos PseudoClase */
  .itemsFlex:nth-child(1) {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .itemsFlex:nth-child(2) {
    width: 100%;

  }

  /* De itemsFlex los que no tengan la clase responsive que oculte los elementos */
  .itemsFlex:not(.responsive) {
    display: none;
  }

  /* tamaño de la imagen */
  #cnnImg {
    width: 50px;
    height: 50px;
  }

  .navTemasDia {
    display: flex;
    width: 100%;
  }

  .temasDia {
    display: flex;
    flex-direction: column;
    height: 100%;
    letter-spacing: 1px;
  }

  .temasDiaItems {
    font-size: 2vh;
  }

  .temasDiaItems:after {
    content: "";
  }

  .temasDiaItems a {
    text-decoration: none;
    list-style: none;
    color: var(--negro);
  }

  .temasDiaItems a:hover {
    text-decoration: underline;
  }

  .main {
    width: 100%;
    flex-direction: column;
  }

  #item1 {
    width: 100%;
  }

  #item2 {
    width: 100%;
    padding-left: 0px;
  }

  .item:nth-child(2) {
    display: flex;
    width: 50%;
    gap: 8px;
  }

  .img {
    width: 100%;
    height: auto;
  }

  #item3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 0px;
  }

  #item3 #noticia4 {
    height: 300px;
  }

  .latinoamerica {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #latinItem1 {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 8px;
  }

  #latinItem1 .noticiaLatinoamerica {
    width: 70%;
  }

  #latinItem1 .itemAside {
    width: 30%;
    display: flex;
    flex-direction: row;
  }

  /* Centramos el aside  que está en el contenedor llamado latiItem1*/
  .itemAside {
    display: flex;
    align-items: center;
  }

  #latinItem2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 0px;
  }

  #latinItem2 #imgLatinoamerica4,
  #imgAsideNoticia1 {
    /* Usamos la coordenada y para determinar hacia donde queremos bajar posicionar la imagen dentro del contenedor #latinItem2 */
    background-position-y: 20px;
  }

  #latinItem3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 0px;
  }

  #imgLatinoamerica3 {
    height: 300px;
  }

  .asidesLatin {
    width: 100%;
    flex-direction: row;
  }

  .video {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  /* Categoría opinión */
  .title {
    font-size: 2.5vw;
  }

  .opinion {
    display: flex;
    width: 100%;
    padding-left: 0px;
  }

  .itemOpinion {
    width: 20%;
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: var(--gris);
  }

  .imgProfile {
    display: none;
  }

  .tituloOpinion {
    font-size: 1.2rem;
  }

  .contentText1 {
    font-size: 3vh;
    color: var(--rojo);
  }

}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .header {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
  }

  .navHeader {
    display: flex;
    flex-wrap: nowrap;
  }

  .navTemasDia {
    width: auto;
    height: auto;
  }

  /* El primer el elemento que es el iconHamburguer aplique los siguientes elementos. Usamos PseudoClase */
  .itemsFlex:nth-child(1) {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .itemsFlex:nth-child(2) {
    width: 100%;

  }

  /* De itemsFlex los que no tengan la clase responsive que oculte los elementos */
  .itemsFlex:not(.responsive) {
    display: none;
  }

  /* tamaño de la imagen */
  #cnnImg {
    width: 50px;
    height: 50px;
  }

  .navTemasDia {
    display: flex;
    width: 100%;
  }

  .temasDia {
    display: flex;
    flex-direction: column;
    height: 100%;
    letter-spacing: 1px;
  }

  .temasDiaItems {
    font-size: 2vw;
  }

  .temasDiaItems::after {
    content: "";
  }

  .temasDiaItems a {
    text-decoration: none;
    list-style: none;
    color: var(--negro);
  }

  .temasDiaItems a:hover {
    text-decoration: underline;
  }


  /* Lo nuevo pegado */

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
  }

  #item1 {
    /* border: 1px solid black; */
    width: 100%;
    padding-left: 0px;
  }

  /* colocamos el article como oculto para el usuario */
  #item1 #arNoticia1 {
    display: none;
  }

  #item2 {
    padding-left: 0px;
    width: 100%;
  }

  #item2 .noticia:first-child {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  #item2 .noticia:last-child {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  #item2 #imagenNoticia2 {
    width: 30%;
  }

  #item2 #imagenNoticia3 {
    width: 36%;

  }

  /* Quitamos el título de música */
  #tituloNoticia2,
  #tituloNoticia3 {
    display: none;
  }

  #arNoticia2,
  #arNoticia3 {
    margin-top: 0px;
  }

  #item3 {
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #item3 .noticia {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .noticia #video {
    justify-content: center;
  }

  .asides {
    gap: 8px;
  }

  .latinoamerica {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #latinItem1 {
    width: 100%;
  }

  /* IMAGEN DE LA NOTICIA 1 */
  #imgLatinoamerica1 {
    height: 300px;
  }

  /* TAMAÑO DEL ASIDE */
  #latinItem1 #aside {
    display: flex;
    width: 100%;
  }

  #imgLatinoamerica2,
  .titleAside {
    display: none;
  }

  #latinItem2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 0px;
    margin-top: 0px;
  }

  #imgLatinoamerica4 {
    background-position-y: 20px;
    height: 350px;
  }

  #imgAsideNoticia1 {
    display: none;
  }

  #latinItem3 {
    display: flex;
    width: 100%;
    padding-left: 0px;
  }

  #latinItem3 section {
    display: flex;
    align-items: center;
  }

  /* Quitamos las imagenes aside */
  .imgAsideNoticia {
    display: none;
  }

  /* Video */
  .video {
    width: 100%;
  }

  /* Opinión */
  /* Categoría opinión */
  .title {
    font-size: 2.5vw;
  }

  .opinion {
    display: flex;
    width: 100%;
    padding-left: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .itemOpinion {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: var(--gris);
  }

  /* Quitamos la imagen */
  .imgProfile {
    background-image: url("assets/profiles/5797.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    width: 50%;
    height: 12vh;
    border-radius: 50%;

  }

  .tituloOpinion {
    font-size: 0.9rem;
  }

  .contentOpinion {
    display: flex;
    width: 100%;
  }

  .contentText1 {
    font-size: 1.3vh;
    color: var(--rojo);
  }

  footer {
    font-size: 10px;
    padding-left: 0px;
    margin: 0px;
    margin-top: 20px;
  }

  .footerItem {
    margin-top: 10px;
    padding: 0px;
  }

}